@media (max-width: 1024px) {
  .hide-on-tablet {
    display: none;
  }
  .Movies__wrapper-title {
    font-size: 30px;
  }
  body::-webkit-scrollbar {
    width: 6px;
    height: 15px;
  }

  /* Track */
  body::-webkit-scrollbar-track {
    background: #0c222f;
  }

  /* Handle */
  body::-webkit-scrollbar-thumb {
    background: #666666;
    border-radius: 6px;
  }

  /* Handle on hover */
  body::-webkit-scrollbar-thumb:hover {
    background: #464646;
  }
  .Movies {
    padding-top: 80px;
  }
  .Movies_newSeries-item {
    margin: 20px 20px 30px 20px;
  }
}
@media (min-width: 740px) and (max-width: 1023px) {
  .wide {
    width: 644px;
  }
  .m-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .header {
    height: 60px;
  }
  .header__search {
    display: none;
  }
  .header__logo {
    margin-right: 0;
  }
  .header__moviegenre {
    display: none;
  }
  .container {
    margin-top: 0;
  }
  .header__menu-icon {
    display: block;
  }
}
@media (max-width: 739px) {
  .wide-on-mobile {
    width: 600px;
    margin: 0 auto; /* tự động căn ra giữa */
  }
  .grid.wide {
    max-width: 739px;
    margin: 0 auto; /* tự động căn ra giữa */
  }
  .mobile-4 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .mobile-2 {
    flex: 0 0 40%;
    max-width: 40%;
  }
  .header {
    height: 60px;
  }
  .header__search {
    display: none;
  }
  .header__logo {
    margin-right: 0;
  }
  .header__moviegenre {
    display: none;
  }
  .container {
    margin-top: 0;
  }
  .header__menu-icon {
    display: block;
  }
  .Movies__wrapper-btn {
    display: none;
  }
  .header__menu-icon {
    left: 3%;
  }
  .header__menu-icon i {
    font-size: 20px;
    color: var(--vote-color);
  }
  .Movies_newSeries-item {
    margin: 14px;
  }
  .Movies__wrapper-title {
    font-size: 28px;
  }
  .Movies {
    padding-top: 80px;
  }
  .header__menu {
    width: 250px;
  }
  .header__menu-item a {
    font-size: 18px;
  }
  .app .footer {
    height: 70px;
  }
  .footer .footer-logo {
    font-size: 20px;
    padding: 5px 0;
  }
  .footer .footer-slogan {
    font-size: 18px;
  }
}
